.otherActive~._28r-{pointer-events:auto}
._287i{display:inline-block;font-size:12px;line-height:22px;vertical-align:middle}
.fbPhotoSnowliftContainer .uiTypeaheadView .hintText{display:none}

#bootloader_RbEGm{height:42px;}.bootloader_RbEGm{display:block!important;}